@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/russoone/v16/Z9XUDmZRWg6M1LvRYsHOy8mJrrg.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

body {
    background-color: rgb(0, 0, 0);
    color: rgb(54, 255, 47);
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
  }
  
  .container{
    margin-bottom: 60px;
  }
  button {
    background-color: rgb(54, 255, 47);
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
  }
  
  
  .clockCase {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  
  .buttonCase {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  